---
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Sponsors from '../components/Sponsors.astro';
---
<!-- TODO: Add intro spooky sound -->
<!-- Fade everything else in after horror hacks title pops up -->

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>Horror Hacks</title>
	</head>
	<body>
		<Hero />
		<About />
		<Sponsors />
		<Footer />
	</body>
</html>

<style lang="scss">
	@use "../vars";

	body, html {
		background-color: vars.$background;
		// height: 100%;
		padding: 1rem 1rem;
	}
</style>