---
import insta from '../../public/instagram-icon.svg'
import github from '../../public/github-icon.svg'
import discord from '../../public/discord-icon.svg'
---

<div class="body">
    <div class="logos">
        <a href="https://instagram.com/_horrorhacks_">
            <img class="logo" src={insta} alt="Instagram" />
        </a>
        <a href="https://github.com/HorrorHacks">
            <img class="logo" src={github} alt="Github" />
        </a>
        <a href="https://discord.gg/YTypgYhvHC">
            <img class="logo" src={discord} alt="Discord" />
        </a>
    </div>
    <div class="text">
        Run by Alpharetta High School's Hack Club
    </div>
</div>

<style lang="scss">
    @use "../vars";

    .body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 1rem;

        // TODO: Reduce padding up to a certain size
        padding: 1rem;
    }

    .logos {
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 2.5%;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 5%;

		    background-color: vars.$background;
        }
    }

    .logo {
        width: 100%;
    }

    .text {
        font-family: vars.$text-font;
        color: vars.$text;

        text-align: center;
    }

    @media (max-width: 480px) {

        .body {
            margin-top: 1rem;
        }

        .logos {
            .a {
                width: 10%;
            }
        }

    }

</style>