---
import logo from '../../public/black-bg-logo-removebg.png';
---

<div class="hero-body">
	<div class="hero-text">
		<div class="hero-heading">
			<h1 class="hero-title">Horror Hacks</h1>
			<img class="hero-logo" src={logo} alt="Logo" />
		</div>
        <div class="hero-subtitles">
		    <p class="hero-subtitle">A halloween-themed hackathon for high school students</p>
            <p class="hero-subtitle2">October 7-8, 2023</p>
        </div>
		<button
			class="sign-up"
			onclick="window.location.href='https://discord.gg/YTypgYhvHC';"
		>
			Sign Up
		</button>
	</div>
</div>

<style lang="scss">
	@use "../vars";

	.hero-body {
		margin-bottom: 2rem;
		position: relative;

	}

	.hero-text {
		text-align: center;
		color: vars.$text;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}

	.hero-heading {
		align-items: center;
		display: flex;

		margin: 0 5rem;
	}

	.hero-title {
		margin: 0;
		padding: 0.4rem;
		line-height: 115%;

		font-family: vars.$title-font;
		font-size: 2.25rem;
	}

	.hero-logo {
		max-width: 5.5rem;
	}

    .flicker {
        // animation: 1s flicker 1s linear 2 reverse;
        animation: 1s flicker 1s linear 2 reverse;
    }

	.hero-subtitle {
		font-family: vars.$text-font;
	}

    // TODO Figure out how to hide element beofre animation CSS
    .hero-subtitle2 {
		font-family: vars.$text-font;
        font-weight: 600;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;

        // animation-fill-mode: forwards;

        // animation-delay: 2s;
        // opacity: 0; TODO: Use when animating
    }



    @keyframes flicker {
      0% {
        opacity: 0.4;
      }
      5% {
        opacity: 0.5;
      }
      10% {
        opacity: 0.6;
      }
      15% {
        opacity: 0.85;
      }
      25% {
        opacity: 0.5;
      }
      30% {
        opacity: 1;
      }
      35% {
        opacity: 0.1;
      }
      40% {
        opacity: 0.25;
      }
      45% {
        opacity: 0.5;
      }
      60% {
        opacity: 1;
      }
      70% {
        opacity: 0.85;
      }
      80% {
        opacity: 0.4;
      }
      90% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }


	.sign-up {
		align-self: center;

  		appearance: none;
  		background-color: #FAFBFC;
  		border: 1px solid rgba(27, 31, 35, 0.15);
  		border-radius: 6px;
  		box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  		box-sizing: border-box;
  		color: #24292E;
  		cursor: pointer;
  		display: inline-block;
  		font-family: vars.$text-font;
  		font-size: 14px;
  		font-weight: 500;
  		line-height: 20px;
  		list-style: none;
  		padding: 6px 16px;
  		position: relative;
  		user-select: none;
  		-webkit-user-select: none;
  		touch-action: manipulation;
  		vertical-align: middle;
  		white-space: nowrap;
  		word-wrap: break-word;

		transition: all 0.3s ease-in-out;
	}

	.sign-up:hover {
		transition: all 0.3s ease-in-out;
		transform: scale(1.2);
	}

	.sign-up:active {
	  background-color: #EDEFF2;
	  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
	  transition: none 0s;
	}

	.sign-up:focus {
	  outline: 1px transparent;
	}

	@media (max-width: 300px) {

		.hero-body {
			padding: 1rem;
		}

		.hero-title {
			font-size: 1.5rem;
		}

		.hero-subtitle {
			font-size: 0.75rem;
		}

	}

	@media (min-width: 481px) {

		.hero-title {
			font-size: 4.5rem;
		}

		.hero-logo {
			max-width: 12rem;
		}

		.hero-subtitle {
			font-size: 1.5rem;
		}

		.hero-subtitle2 {
        	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
		}

		.sign-up {
			font-size: 24px;

  			padding: 8px 20px;
		}

	}

	@media (min-width: 769px) {

		.hero-title {
			width: min-content;

			font-size: 4.5rem;
		}

		.hero-logo {
			max-width: 12.5rem;
		}

	}

	@media (min-width: 1250px) {

		.hero-title {
			width: auto;

			font-size: 5.25rem;
		}

		// TODO: Fix gap between logo and title text on laptop size
		.hero-logo {
			max-width: 15rem;
		}

	}
</style>