
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;500;600;700&family=Nosifer&display=swap');

$background: #070707;
$text: #ffffff;

$title-font: "Nosifer", -apple-system, system-ui;
$header-font: "Barlow", -apple-system, system-ui;
$text-font: "Barlow", -apple-system, system-ui;